<!doctype html>
<title>Example</title>
<style>
.backgroundBox {
  width: 200px;
  padding: 3px 130px 3px 10px;
  background: url("C:\Users\krishna\Downloads.jpg") gold 90% 30% no-repeat;
}
</style>
<div class="backgroundBox">
<p><%= @name%></p>
</div>
