<html>

<div style="background-color:GreenYellow;width:1000px;border:1px solid black;padding:15px;">
  <h1>     Krishna Chandar Vodanala      </h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <h4><p>I am trying to build a new App</p></h4>
  <a href="https://www.facebook.com"></a>
  <img src="F:\vaibhav" alt="college life",width="104" height="142">
  </html>
</div>
